body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

$fa-font-path: 'fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

@import '../node_modules/@cypress/react-tooltip/dist/tooltip.scss';

$primary-color: #5c7fb8;
$secondary-color: #74914F;

$success-color: #74914F;
$warning-color: #cd9c52;
$error-color: #A74444;

$light-color: #fff;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
}

body,
input,
textarea {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 1.2em;
  margin: 0.6em 0;
}

p {
  margin: 0.6em 0;
}

input,
textarea {
  border: solid 1px #bfbfbf;
  border-radius: 3px;
  font-size: 1em;
  padding: 0.2em 0.4em;
}

button,
.button {
  border: none;
  background: $primary-color;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  outline: none;
  padding: 0.5em 0.8em;
  text-decoration: none;

  &:hover {
    background: darken($primary-color, 20%);
  }

  &[disabled],
  &[disabled]:hover {
    cursor: default !important;
    opacity: 0.6 !important;
  }

  i {
    margin-right: 0.4em;
  }
}

.inverse {
  background: none;
  color: #bfbfbf;

  &:hover {
    color: $primary-color;
  }
}

form {
  .group {
    align-items: center;
    display: flex;
    margin: 0.5em 0;
  }

  label {
    color: #666;
    flex-shrink: 0;
    margin-right: 0.5em;
    text-align: right;
    width: 5.5em;
  }

  input {
    flex-shrink: 0;
    width: 10em;
  }

  .limits {
    color: #999;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin-left: 0.3em;

    span {
      white-space: nowrap;
    }
  }

  .controls {
    border-top: solid 1px #c7c7c7;
    justify-content: space-between;
    margin-top: 1em;
    padding-top: 1em;
  }

  .save {
    background: $success-color;

    &:hover {
      background: darken($success-color, 20%);
    }
  }

  .delete {
    background: $error-color;

    &:hover {
      background: darken($error-color, 20%);
    }
  }
}

.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0.01;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
  width: auto;
  z-index: -1;

  .has-entered & {
    opacity: 1;
    z-index: 100;
  }

  .modal-container {
    background: $light-color;
    flex-basis: 0;
    padding: 1em 1.5em;
  }
}

.container {
  margin: 0 auto;
  padding: 1.5em;
  width: 36em;

  &.is-grabbing {
    cursor: grabbing;
  }
}

.refresh {
  label {
    color: #999;
    font-size: 0.8em;
    margin-left: 0.6em;
  }
}

$bar-height: 0.6em;

.bar {
  align-items: flex-end;
  display: flex;
  margin: 0.2em 0 0.4em;

  > main {
    background: #ebebeb;
    display: flex;
    flex-grow: 2;
    height: $bar-height;
  }

  .bar-part {
    flex-shrink: 0;
    position: relative;
    text-align: right;

    &.savings {
      background: $secondary-color;
    }

    &.planned {
      background: lighten($secondary-color, 30%);
    }

    &.expense {
      background: #858c83;
    }

    .tooltip-target {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .drag-handle {
      top: 0;
      cursor: grab;
      position: absolute;
      right: 0;
      width: 5px;
      height: $bar-height;
      z-index: 1;

      &:hover {
        background: #4d5447;
      }
    }

    &.planned.is-zero .drag-handle {
      right: -5px;
    }

    &:hover .drag-handle,
    &.is-dragging .drag-handle {
      background: #9dab91;
      height: $bar-height + 0.6em;
      top: -0.3em;
    }
  }

  .total {
    flex-shrink: 0;
    text-align: right;
    width: 4.4em;

    input {
      display: block;
      font-size: 0.8em;
      margin-left: 0.4em;
      outline: none;
      width: 100%;
    }
  }
}

.tooltip label span {
  color: #d3d3d3;
  margin-left: 0.2em;
}

.checking {
  .bar main {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 1em, rgba(0, 0, 0, 0.1) 1em, rgba(0, 0, 0, 0.1) 2em);
  }
}

.add-goal {
  margin-top: 1em;
}

.goal {
  margin: 0.8em 0;

  h3 {
    button {
      @extend .inverse;
      padding: 0 0.8em;
    }
  }

  p {
    color: #777;
    font-size: 0.8em;
  }
}

.edit-goal {
  .modal-container {
    position: relative;
    padding-top: 1.2em;
    padding-bottom: 0.5em;
  }

  .close {
    @extend .inverse;
    font-size: 1em;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;

    i {
      margin-right: 0;
    }
  }
}
