body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,a img{border:none;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}

$fa-font-path: 'fonts';
@import '../node_modules/font-awesome/scss/font-awesome';

$primary-color: #5c7fb8;
$secondary-color: #74914F;

$success-color: #74914F;
$warning-color: #cd9c52;
$error-color: #A74444;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
}

body,
input,
textarea {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  margin-bottom: 1.2em;
}

p {
  margin: 0.6em 0;
}

button {
  border: none;
  background: $primary-color;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  outline: none;
  padding: 0.5em 0.8em;

  &[disabled] {
    cursor: default;
    opacity: 0.6;
  }

  i {
    margin-right: 0.4em;
  }
}

.container {
  margin: 0 auto;
  padding: 1.5em 7em;
  width: 50em;
}

.refresh {
  label {
    color: #999;
    font-size: 0.8em;
    margin-left: 0.6em;
  }
}

.bar {
  display: flex;
  margin: 1.3em 0;

  > main {
    background: #ebebeb;
    display: flex;
    height: 1.2em;
    flex-grow: 2;
  }

  .bar-part {
    flex-shrink: 0;
    position: relative;
    text-align: right;
    transition: all 0.25s ease-in-out;

    &.savings {
      background: $secondary-color;
    }

    &.planned {
      background: lighten($secondary-color, 30%);
    }

    &.expense {
      background: #bfbfbf;
    }

    label {
      border-right: solid 1px #bfbfbf;
      color: #999;
      display: block;
      font-size: 0.8em;
      padding-right: 0.4em;
      position: absolute;
      right: 0;
      white-space: nowrap;

      span {
        color: #333;
      }
    }

    &.even label {
      bottom: 0;
      padding-bottom: 1.7em;
    }

    &.odd label {
      padding-top: 1.7em;
      top: 0;
    }
  }

  .total {
    flex-shrink: 0;
    text-align: right;
    width: 4em;
  }
}

.checking {
  .bar main {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 1em, rgba(0, 0, 0, 0.1) 1em, rgba(0, 0, 0, 0.1) 2em);
  }
}

.goals {
  li {
    margin: 1em 0;
  }

  button {
    margin-top: 1em;
  }
}
